{% extends 'layouts/base.html' %}
{% load static %}
{% load currency_filters %}
{% block title %}{{pagetitle}}{% endblock %}
{% block content %}
<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Arrienda cerca de ti</h1>
					<p>Unete al mejor portal de arriendos de la región</p>

				</div>
				<!-- Advance Search -->
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Nuevos Avisos</h2>
				</div>
			</div>
		</div>
		<div class="row">
			{% for propertie in properties %}
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">{{ propertie.price|moneda }}</div>
							<a href="{% url 'property:details' propertie.id %}">
								<img class="card-img-top img-fluid" src="{{ propertie.get_picture }}" alt="Card image cap">
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title"><a href="{% url 'property:details' propertie.id %}">{{ propertie.name }}</a></h4>
							<ul class="list-inline product-meta">
								<li class="list-inline-item">
									<a><i class="fa fa-folder-open-o"></i>{{ propertie.get_ptype_display }}</a>
								</li>
								<li class="list-inline-item">
									<a><i class="fa fa-calendar"></i>{{ propertie.created|date:"j \d\e N Y" }}</a>
								</li>
							</ul>
							<p class="card-text">{{ propertie.description }}</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

    
{% endblock %}