{% extends 'layouts/base.html' %}
{% block title %}{{pagetitle}}{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<section class="advt-post bg-gray py-5">
    <div class="container">
      <h1>Actualizar Propiedad</h1>
      {% include 'property/form.html' %}
    </div>
</section>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('.select-search').select2({
      width: '100%',
      placeholder: 'Seleccione una comuna',
    });
  });
</script>
{% endblock %}